<div class="navbar-header">
  <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!access">Log In</button>
  <!-- <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="access">Log Out</button> -->
  <h1 *ngIf="!access"> No access for you boi!</h1>
</div>

<span *ngIf="access">
  <div *ngFor="let block of components_" class="block" [style.clear]="float_[block]" [style.float]="float_[block]">
    <span id="{{ block }}" class="animeShow" *ngIf="!show_[block]">
      {{ block }}
    </span>

      <span class="blockControl glyphicon glyphicon-plus" *ngIf="!show_[block]" (click)="toggle([block])"></span>
      <span class="blockControl glyphicon glyphicon-minus" *ngIf="show_[block]" (click)="toggle([block])"></span>
      <span class="blockControl glyphicon glyphicon-fullscreen" *ngIf="show_[block]" onClick="toggleFullscreen(this)"></span>
      <span class="blockControl glyphicon glyphicon-trash" *ngIf="show_[block]" (click)="delete([block])"></span>
      <span class="blockControl glyphicon glyphicon-refresh" (click)="refresh([block])"></span>

    <div class="content" *ngIf="show_[block]">
        <loader component={{block}}></loader>
    </div>
  </div>
</span>
